* {
    max-width: 587px;
    padding: 5px;
    font-family: 'Press Start 2P', sans-serif;
    box-sizing: border-box;
}
/* img { 
    border-radius: 5%;
    min-width: 50vh;
    max-width: 60vh;     }*/

main {
    background-image: url(https://i.pinimg.com/564x/24/04/91/2404918faac44d214bbd657468b43cc0.jpg);
    padding: 10px;
    border-radius: 5%;
    background-size: 570px;
}


#gamma, #ducati, #kendaBike {
    border-radius: 5%;
    width: 100%;}

.timers {
    min-width: 10px;
    /* flex-wrap: wrap; */
    justify-content: space-between;
}

.tools, .moto {
    flex-wrap: wrap;
    justify-content: space-between;

}

.col1, .col2, .col3 {
    max-width: 25vh;
}

 #screen, .col1, .col2, .col3, .col4, .col5, .col6{
    display: flex;
    justify-content: space-around;
}

#screen{
    padding: 5px;
    border-radius: 7% ;
    overflow: hidden;
    max-height: 70vh;
    
}

.nes-btn, span, p {
    font-family: 'Press Start 2P', sans-serif;
    display: flex;
}

#levelUpBtn {
    align-items: center;
    background-color: gold;
}


#no-oil {
    height:60vh;
    background-color: grey;
    position: absolute;

}

.row3 {
    display: flex;
}

.row4 {
    display: flex;
}

h1 {

}

#stats, #banner {
    display: flex;
    justify-content: space-around;
    min-width: 20px;
    flex-wrap: wrap;
}

#kendaBike {
    max-height: 450px;
}

.restart{
    position: relative;
    left: 50%;
    transform:translateX(-50%);
    background-image: url(https://image.shutterstock.com/image-vector/line-yellow-black-color-caution-260nw-587563217.jpg);
}

#endGame {
    position: relative;
    z-index: 100 ;
}


/* @media (max-width: 550px) {
     {
        display:flex;
        flex-wrap: column;
    }
} */