* {
    max-width: 580px;
    
    
    padding: 5px;
    font-family: 'Press Start 2P', sans-serif;
    box-sizing: border-box;
}
/* img { 
    border-radius: 5%;
    min-width: 50vh;
    max-width: 60vh;     }*/

main {
    background-image: url(https://i.pinimg.com/564x/24/04/91/2404918faac44d214bbd657468b43cc0.jpg);
    margin: 10px, auto;
    border-radius: 5%;

}


#gamma, #ducati, #kendaBike {
    border-radius: 5%;
    min-width: 60vh;
    max-width: 60vh;
}

.timers {
    min-width: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tools, .moto {
    flex-wrap: wrap;
    justify-content: space-between;

}

.col1, .col2, .col3 {
    max-width: 25vh;
}

 #screen, .col1, .col2, .col3, .col4, .col5, .col6{
    display: flex;
    justify-content: space-around;
}

#screen{
    padding: 5px;
    border-radius: 7% ;
    overflow: hidden;
    max-height: 70vh;
    
}

.nes-btn, span, p {
    font-family: 'Press Start 2P', sans-serif;
    display: flex;
}

#levelUpBtn {
    align-items: center;
    background-color: gold;
}


#no-oil {
    height:60vh;
    background-color: grey;
    position: absolute;

}

.row3 {
    display: flex;
}

.row4 {
    display: flex;
}

#stats {
    display: flex;
    justify-content: space-around;
    min-width: 20px;
    flex-wrap: wrap;
}

#kendaBike {
    max-height: 450px;
}

#endGame {
    position: relative;
    z-index: 100 ;
}

@media (max-width: 550px) {
    width: 100%;
    box-sizing: border-box;
    flex-shrink::content ;
}